@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: hsl(234, 59%, 72%);
    color: #A5B2D3;
    padding: .5em;
    font-family: 'Nunito' sans-serif;
    height: 100vh;
    text-align:center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header svg {
    width: 1.5em;
    cursor: pointer;
}

a {
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

a.logo {
    font-weight: bold;
    margin: 0 1em;
}

a.cta-btn {
    margin-left: auto;
    background: #FC85AE;
    padding: 1em;
    display: inline-block;
    border-radius: 2em;
    font-size: .8em;
    color: #303A52;
    font-weight: bold;
}

/* Navigation */

nav {
    line-height: 3.4em;
    position: fixed;
    background: #576483;
    height: 100vh;
    left: 0;
    top: 0;
    width: 80%;
    visibility: hidden;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s;
    text-align: center;
}

nav p {
    margin-bottom: 0;
}

nav svg {
    cursor: pointer;
    width: 1em;
}

nav ul li a {
    display: block;
    padding: .2em;
    font-size: 1.8em;
}

.selected {
    background: #FC85AE;
}

.open-nav {
    visibility: unset;
    opacity: 1;
    transform: translateX(0);
}

/* Main Section */

h1 {
    color: white;
    margin-top: 1em;
    font-size: 2.5em;
}

.panel {
    background: hsl(223, 25%, 40%);
    border-radius: .3em;
}

h3 {
    color: #FC85AE;
    margin: 0;
    font-size: 1.6em;
}

ul.data li p {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin: .3em 0 1em;
}

ul.data li:last-child p {
    margin-bottom: 0;
}

ul.secondary {
    margin-top: 2em;
    background: hsl(223, 25%, 40%);
}

ul.secondary li p {
    font-size: 1.2em;
}

main {
    border: 1px solid white;
    background: #39445F;
}

nav {
    background: hsl(223, 25%, 20%);
}